<div>
    <rt-form>
        <rt-list-buttons></rt-list-buttons>
        <rt-panel title="Filtre" icon="filter">
            <div class="form-group col-md-7">
                <label class="control-label col-md-3">Todo Text</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="vm.filter.Text" />
                </div>
            </div>
            <div class="clearfix"></div>

            {{vm.selected}}
            <rt-grid-select ng-model="vm.dataModel"
                            value-prop="text"
                            options="vm.dataOptions">

            </rt-grid-select>
            


        </rt-panel>
        <rt-grid></rt-grid>
    </rt-form>
</div>