<div class="container main" id="container">
    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href>
                    <b>
                        <!--Menu Caption-->
                        <i ng-class="['fa', 'fa-' + shellvm.activeMenu.menuIcon]"></i> {{shellvm.activeMenu.title}}
                        <!--Menu notify Icons-->
                        <ui-view name="badges"></ui-view>
                    </b>
                </a>
            </li>
            <!--Breadcrumb-->
            <li class="rightside">
                <ui-view name="breadcrumb"></ui-view>
            </li>
        </ul>
        <!--Content-->
        <div class="content-body">
            <!--Notifications-->
            <div ui-view="notification"></div>
            <!--Content Page-->
            <!--Wrapper-->
            <div ui-view class="anim-fadeinright"></div>
        </div>
    </div>
</div>